name: Test code
on:
  pull_request:
  push:
    branches: [main]

jobs:
  test:
    uses: doplaydo/pdk-ci-workflow/.github/workflows/test_code.yml@{{VERSION}}
    secrets:
      GFP_API_KEY: ${{ secrets.GFP_API_KEY }}
