name: Auto-label PDK issues

on:
  workflow_call:

jobs:
  add-label:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Add label
        run: gh issue edit ${{ github.event.issue.number }} --add-label "pdk"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
